@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("https://raw.githubusercontent.com/simplyJC/profile-card-component-main/afa9b9893b4245ad83b7a74894e62aaa15716ed3/images/bg-pattern-top.svg"), url("https://raw.githubusercontent.com/simplyJC/profile-card-component-main/f6dc8f66d36b4d2c4aa7a84430088db1f4d6a577/images/bg-pattern-bottom.svg"), #19a2ae;
  background-position: top -600px left -700px, bottom -600px right -700px;
  background-repeat: no-repeat, no-repeat;
  padding: 1rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 350px;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.card__header-top {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__header-bottom {
  border-bottom: solid 1px #969696;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  padding: 2rem;
  padding-top: 5rem;
}

.card__image {
  position: absolute;
  top: -50px;
}

.card__image--circle {
  border: solid white;
  border-radius: 3rem;
}

h1 {
  font-size: 18px;
  display: inline;
  color: #2d3248;
}

.card__data--gray {
  display: inline;
  color: #6a6f81;
}

.card__body {
  width: 100%;
  padding: 1rem;
}

ul {
  list-style-type: none;
}

.card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: .8rem;
}

.card__list-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6a6f81;
}

.card__data-value {
  font-size: 18px;
  padding-bottom: .4rem;
  color: #2d3248;
}

footer {
  padding: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #d9e0fc;
}

@media (min-width: 1100px) {
  .wrapper {
    background-position: top -391px left -280px, bottom -456px right -275px;
  }
}
/*# sourceMappingURL=style.css.map */