@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


$dark-cyan: hsl(185, 75%, 39%);
$dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);

$dark-gray: hsl(0, 0%, 59%);

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;

}

.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: 
    url('https://raw.githubusercontent.com/simplyJC/profile-card-component-main/afa9b9893b4245ad83b7a74894e62aaa15716ed3/images/bg-pattern-top.svg'), 
    url('https://raw.githubusercontent.com/simplyJC/profile-card-component-main/f6dc8f66d36b4d2c4aa7a84430088db1f4d6a577/images/bg-pattern-bottom.svg'),  
    $dark-cyan;
    background-position: top -600px left -700px, bottom -600px right -700px;
    background-repeat: no-repeat, no-repeat;


  
    padding: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background:white;
    align-items: center;
    border-radius: 10px; 
 
}

//card header 
.card__header{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    

   
 
}
.card__header-top{
   
    height: 100%; width: 100%;
    border-radius: 10px 10px 0 0; 

}

.card__header-bottom{
    border-bottom: solid 1px $dark-gray;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 2rem;
    padding-top: 5rem;

}

.card__image{
    position: absolute;
    top:-50px;
}

.card__image--circle{
    border: solid white;
    border-radius: 3rem;

    
}
h1{
    font-size: 18px;
    display: inline;
    color:$dark-desaturated-blue
}
.card__data--gray{
 display: inline;
 color:$dark-grayish-blue;

}

//Card Body
.card__body{

    width: 100%;
    padding: 1rem;
}
ul{
    list-style-type:none;
}
.card__list{
    display: flex;
    justify-content: space-evenly;
    font-size: .8rem;

}
.card__list-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$dark-grayish-blue;
}
.card__data-value{
    font-size: 18px;
    padding-bottom: .4rem  ; 
    color: $dark-desaturated-blue;
}

footer{
    padding: 1rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 85%, 92%); }



@media (min-width: 1100px){

    .wrapper{
    background-position: top -391px left -280px, bottom -456px right -275px;
    }

}